  .bSubscribe {
    background-color: rgb(200, 0, 0);
    height: 36px;
    color: white;
    width: 105px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity 0.15s;
  }
  .bSubscribe:hover{
    opacity: 0.8;
  }
  .bSubscribe:active{
    opacity: 0.5;
  }
  .bJoin{
    background-color: white;
    height: 36px;
    width: 65px;
    border-color:rgb(14, 148, 236);
    border-style: solid;
    border-width: 1px;
    color: rgb(14, 148, 236);
    border-radius: 2px;
    cursor: pointer;
    margin: 8px;
    transition: background-color 0.15s , color 0.15s;
   }
   .bJoin:hover{
    background-color: rgb(14, 148, 236);;
    border-color: white;
    color: white;
   }
   .bJoin:active{
    opacity: 0.7;
   }
   .bTweet{
    background-color: rgb(14, 148, 236);
    height: 36px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer; 
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow 0.15s;
   }
   .bTweet:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.15);
   }
   .bUber{
    background-color: black;
    color: white;
    height: 36px;
    width: 100px;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
   }
   .bUber:hover{
    opacity: 0.8;
   }
   .bAdd{
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    height: 27px;
    width: 145px;
    font-size: 15px;
    transition: background-color 1s;
   }
   .bAdd:hover{
    background-color:rgb(216, 183, 14);
   }
   .bSignUp{
    background-color: rgb(45, 164, 79);
    color: white;
    border: none;
    border-radius: 4px;
    height: 36px;
    font-weight: bold;
    width: 80px;
    cursor: pointer;
    transition: box-shadow 0.15s;
   }
   .bSignUp:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.15);
   }
   .bStart{
    background-color: rgb(121, 82, 179);
    color: white;
    font-weight: bold;
    height: 36px;
    width: 100px;
    cursor: pointer;
    margin-right: 8px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.15s;
   }
   .bStart:hover{
    background-color:  rgb(95, 62, 144);;
   }
   .bDownload{
    background-color:white;
    color: rgb(108, 117, 125);
    font-weight: bold;
    height: 36px;
    width: 100px;
    border-radius: 3px;
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;
   }
   .bDownload:hover{
    background-color:  rgb(108, 117, 125);;
    color: white;
    border-color: white;
   }
   .bApply{
    background-color: rgb(10, 102, 194);
    color: white;
    font-weight: bold;
    border: none;
    height: 34px;
    width: 206px;
    border-radius: 18px;
    transition: background-color 0.15s;
   }
   .bApply:hover{
    background-color: rgb(8, 84, 161);;
   }
   .bSave{
    background-color: white;
    color: rgb(10, 102, 194);
    font-weight: bold;
    height: 34px;
    width: 76px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(10, 102, 194);
    border-radius: 18px;
    transition: border-width 0.15s,background-color 0.15s;
   }
   .bSave:hover{
    background-color:  rgb(226, 235, 245);
    border-width: 2px;
   }